# Copy to .env or configure these values in your deployment environment.
DB_URL=jdbc:mysql://127.0.0.1:49152/infiniteChat?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=
REDIS_HOST=127.0.0.1
REDIS_PORT=59000
REDIS_PASSWORD=
NACOS_SERVER_ADDR=127.0.0.1:18375
NACOS_USERNAME=
NACOS_PASSWORD=
MINIO_URL=http://127.0.0.1:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092
SMS_ACCESS_KEY_ID=
SMS_ACCESS_KEY_SECRET=
SMS_SIG_NAME=
SMS_TEMPLATE_CODE=
TOKEN_SECRET_KEY=
PASSWORD_SALT=
WX_STATE=
MINIO_IMAGE_URI=http://127.0.0.1:9000/infinitec-chat/
